:root{
    --main-color:#0A174E;
    --sub-color:#F5D042;
    
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1440px;
    position: relative;
    margin: 0 auto;
    
}  
header{
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 999;
    top: 0;
    background-color: var(--sub-color);
    border-bottom: 2px solid var(--main-color);
}

header .container{
  
   
}

header button{
    position: absolute;
    left: 0;
    top: 50px;
}
nav.contact {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 18%;
    height: 100vh;
    background-color: rgba(255,255,255,1);
    text-align: center;
    padding-top: 180px;
    display: none;
    box-shadow: 1px 1px 2px var(--main-color);
  }
  nav.contact a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 30px;
    display: block;
    padding: 30px;
    height: 100px;
    
  }
  nav.contact a:hover{
      font-weight: bold;
      font-size: 30px;
      background-color: var(--main-color);
      color: var(--sub-color);
  }
  nav.show{
    display: block;
  }
  #toggle{
    
    
    top: 30px;
    width: 50px;
    height: 50px;
    border: none;
   background: none;
    
    cursor: pointer;
    font-size: 40px;
    color: var(--main-color);
  }
  #toggle:hover{
    background-color:none;
    color: var(--main-color);
  }
header h1{
   margin-top: 20px;
   float: left;
   margin-left: 635px;
}
header h1 > img{
    width: 130px;
    height: 82px;

}
header nav.gnb{
    position: absolute;
    right: 0;
    top: 30px;
}
header nav.gnb ul.depth1{
    
    
}
header nav.gnb >  ul.depth1 > li{
    float: left;
    font-size: 18px;
    text-align: center;
    
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}
header nav.gnb >  ul.depth1 > li a{
  color: var(--main-color) ;
  
  font-weight: bold;
}
header nav.gnb >  ul.depth1 >li > a.bold{
  -webkit-text-stroke: 1px var(--main-color);
}
header nav.gnb >  ul.depth1 > li a.stroke{
    color: var(--sub-color) ;
    -webkit-text-stroke: 1px var(--main-color);
    font-weight: bold;
}
header nav.gnb >  ul.depth1 > li:hover{
    text-decoration: none;
    font-weight: bold;
}
header nav > ul > li:last-child{
    margin-right: 0;
}
  /*2단계 메뉴*/
  header nav .depth2{
    margin-top: 0px;
     padding-top: 15px;
   
     display: none;
     position: absolute;
     
 }
 
 header nav .depth2 > li{
     width: 120px;
     /*background-color: cadetblue;*/
     background-color: rgba(255,255,255,1);
     
 }
 header nav .depth2 > li > a{
     display: block;
     font-weight: 400;
     text-align: center;
     padding-bottom: 15px;
     color: #333333;
     font-size: 15px;
     width: 100%;
     height: 60px;
     padding-top: 18px;
     padding-bottom: 18px;
     
 }
 
 .gnb .depth2 a:hover {
     font-weight: bold;
     color: var(--sub-color);
     background-color: var(--main-color);
   }
  

   #s2 {
    background-image: url(../images/sub\ bk.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height:900px;
    outline: 1px solid #9bafff;
  }
  
  
  #s2 .container{
    width: 1440px;
    margin: 0 auto;
    height: 800px;
    
  }
  #s2 .container .title{
    
    color: var(--main-color);
    height:130px;
    /*outline: 1px solid #0A174E;*/
    border-bottom: 4px solid var(--main-color);
  }
  #s2 .container .title > h1{
    font-size: 60px;
    margin-left: 133px;
    float: left;
    padding-top: 15px;
  }
  #s2 .container .title > h2{
    font-size: 40px;
    margin-left: 1300px;
    padding-top: 35px;
  }
  #s2 img.br{
    width: 538px;
    margin-top: 60px;
    float: left;
  }
  #s2 .first{
    height: 657px;
    
  }
  #s2 .first .box{
    width: 720px;
    outline: 1px solid #0A174E;
    margin-left: 720px;
    color: var(--main-color);
    text-align: center;
    height: 710px;
    background-color: white;
    box-shadow: 1px 2px 3px var(--main-color);
    margin-top: 60px;
  }
  #s2 .first .box > h4{
    padding-top: 47px;
    font-size: 25px;
  }
  #s2 .first .box > p.explain{
    padding-top: 32px;
    font-size: 16px;
  }
  #s2 .first .box > p.subtitle{
    padding-top: 22px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  #s2 .first .box img{
    width: 39px;
    margin-left: 8px;
    margin-top: 5px;
  }
  #s2 .first .box > p.subex{
    font-size: 16px;
  }
  #s2 .first .box > .color {
    width: 350px;
    height: 78px;
    
    margin-left: 180px;
   
  }
  #s2 .first .box > .color> .col{
    float: left;
    padding-left: 26px;
    padding-right: 26px;
  }
  #s2 .first .box > .color >p.color{
    font-size: 13px;
  }
  #s2 .first .box> p.link{
    width: 100px;
    height: 30px;
    border: 1px solid var(--main-color);
    margin-left: 300px;
    margin-top: 22px;
  }
  #s2 .first .box> p.link:hover{
    background-color: var(--main-color);
  }

  #s2 .first .box> p.link > a{
    color: var(--main-color);
  }
  #s2 .first .box> p.link:hover > a{
    color: var(--sub-color);
  }
  footer{
    width: 100%;
    text-align: center;
    height: 200px;
    padding-top: 70px;
    color: var(--main-color);
    background-color: var(--sub-color);
    font-size: 20px;
    font-weight: bold;
  }
  footer p{
    padding-top: 10px;
  }